<div role="tabpanel" class="tab-pane fade" id="notice-tab" aria-labelledby="notice-tab">
    <h1>Notice
        <small>Add or modify your notices</small>
    </h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add/Update notice
                </div>
                <div class="panel-body">
                    <form role="form" id="notice-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="notice-id" value="-1"/>
                        <ul id="notice-error-list">

                        </ul>
                        <div class="form-group" id="notice-title-group">
                            <label for="notice-title">Title</label>
                            <input class="form-control" type="text" name="title" id="notice-title" placeholder="Title"
                                   required/>
                        </div>
                        <div class="form-group" id="notice-description-group">
                            <label for="notice-description">Description</label>
                            <textarea rows="3" class="form-control" name="description"
                                      id="notice-description" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group" id="notice-priority-group">
                            <label for="notice-priority">Priority</label>
                            <select class="form-control" name="priority" id="notice-priority">
                                <option value="0" style="color:green">Low</option>
                                <option value="1" style="color:yellow">Normal</option>
                                <option value="2" style="color:orange">High</option>
                                <option value="3" style="color:red">Urgent</option>
                            </select>
                        </div>
                        <div class="form-group" id="notice-expiry-group">
                            <label for="expiry">Expiration</label>

                            <div class="input-group date" id="notice-expiration-date">
                                <input class="form-control" type="text" name="expiration_date"
                                       placeholder="dd-mm-yyyy HH:MM" id="notice-expiry"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="notice-designation-group">
                            <label for="notice-designation">Post As</label>
                            <select class="form-control" name="designation" id="notice-designation">
                                {% for designation in designations %}
                                    <option value="{{ designation.id }}">{{ designation.post }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group hide" id="notice-notify-users-group">
                            <label for="notice-notify-users">Notify Users</label>
                            <input name="notify_users" id="notice-notify-users" type="checkbox">
                            <p style="color: #e26767;;">
                                Check this button only if you think that this is an important and urgent update and users
                                need to notified about update. If this is just a simple correction like typo then don't check
                                it. <br>
                                You hereby accept that by checking this checkbox users will be notified. You also accept
                                that you will not misuse this feature to notify users back-to-back. Any complain from users
                                in such cases may lead to your disqualification from content creator access.
                            </p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="notice-add-btn">Submit</button>
                            <button type="reset" class="btn btn-default" id="notice-reset-btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Past notices by you
                </div>
                <div class="panel-body">
                    <div id="notice-list">


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>