{% extends 'iitbapp/root.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 style="font-size: 70px;">Team IITB app</h3>

                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <img
                                    src="{% static 'img/developer_bijoy.png' %}"
                                    alt="Bijoy Singh" width="100" height="100">
                        </div>
                        <div class="media-body">
                            <h5>Bijoy Singh</h5>
                            <h6>CSE B.Tech. 4th Year</h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <img
                                    src="{% static 'img/developer_dheerendra.png' %}"
                                    alt="Bijoy Singh" width="100" height="100">
                        </div>
                        <div class="media-body">
                            <h5>Dheerendra Rathor</h5>
                            <h6>CSE B.Tech. 4th Year</h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <img
                                    src="{% static 'img/developer_aman.png' %}"
                                    alt="Bijoy Singh" width="100" height="100">
                        </div>
                        <div class="media-body">
                            <h5>Aman Gour</h5>
                            <h6>CSE B.Tech. 4th Year</h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <img
                                    src="{% static 'img/developer_ranveer.png' %}"
                                    alt="Bijoy Singh" width="100" height="100">
                        </div>
                        <div class="media-body">
                            <h5>Ranveer Aggrawal</h5>
                            <h6>CSE B.Tech. 4th Year</h6>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}