{% extends 'iitbapp/root.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">

                <img src="{% static 'img/brand_iitbapp.png' %}" alt="IITB App Logo">

                <h1 style="font-size: 70px;">IITB App</h1>

                <h2>An application for everything at IIT Bombay</h2>

                <div><a href="https://play.google.com/store/apps/details?id=com.gymkhana.iitbapp"><img
                        src="{% static 'img/en_generic_rgb_wo_60.png' %}"></a></div>
                <div>
                    <h3>If you're a content creator then go to content creation page</h3>
                </div>
                <a href="{% url 'login_page' %}" class="btn btn-success btn-lg">Go to Content Creation Page</a>

            </div>
        </div>
    </div>
{% endblock %}