{% extends 'iitbapp/logged_in.html' %}
{% load static %}

{% block jsLinks %}
    <script type="application/javascript">
        var fetch_event_url = "{% url 'content_event-list' %}";
        var fetch_news_url = "{% url 'content_news-list' %}";
        var fetch_notice_url = "{% url 'content_notice-list' %}";
        var add_event_url = "{% url 'add_content_event' %}";
        var add_news_url = "{% url 'add_content_news' %}";
        var add_notice_url = "{% url 'add_content_notice' %}";
    </script>
    <script src="{% static 'js/notice.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/event.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/news.js' %}" type="application/javascript"></script>
{% endblock %}

{% block cssLinks %}
    <link href="{% static 'css/notice.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/event.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="tab-content" class="tab-content">
        <div role="tabpanel" style="text-align: center;" class="tab-pane fade active in" id="content-home-tab"
             aria-labelledby="content-home-tab">
            <img src="{% static 'img/brand_iitbapp.png' %}" alt="logo">
            <h1 style="font-size: 50px;">Welcome to IITB app content creation page</h1>

            <p style="font-size: 30px;">Here you can add or update news, events and notices. Click on following buttons
                to visit respective pages</p>

            <div class="well center-block" style="max-width: 200px;">
                <a href="#news-tab" role="tab" id="news-tab-control" data-toggle="tab"
                   class="btn btn-primary btn-lg btn-block"
                   aria-controls="news-tab">News</a>
                <a href="#event-tab" role="tab" id="event-tab-control" data-toggle="tab"
                   class="btn btn-primary btn-lg btn-block"
                   aria-controls="event-tab">Event</a>
                <a href="#notice-tab" role="tab" id="notice-tab-control" data-toggle="tab"
                   class="btn btn-primary btn-lg btn-block"
                   aria-controls="notice-tab">Notice</a>
            </div>

            <div>
                <p style="color: firebrick; font-size: 20px;">You can also find these links under <b>Create/Update</b>
                    menu in upper right corner</p>
            </div>

        </div>
        {% include 'news/news.html' %}
        {% include 'event/event.html' %}
        {% include 'notice/notice.html' %}
    </div>
{% endblock %}

