{% extends 'iitbapp/logged_in.html' %}
{% load static %}

{% block jsLinks %}
    <script type="application/javascript">
        var fetch_event_url = "{% url 'content_event-list' %}";
        var fetch_news_url = "{% url 'content_news-list' %}";
        var fetch_notice_url = "{% url 'content_notice-list' %}";
        var add_event_url = "{% url 'add_content_event' %}";
        var add_news_url = "{% url 'add_content_news' %}";
        var add_notice_url = "{% url 'add_content_notice' %}";
    </script>
    <script src="{% static 'js/notice.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/event.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/news.js' %}" type="application/javascript"></script>
{% endblock %}

{% block cssLinks %}
    <link href="{% static 'css/notice.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/event.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="tab-content" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="content-home-tab" aria-labelledby="content-home-tab">
            <h1>To Add or Update News/Events/Notices, click on Create/Update button on upper right corner</h1>
        </div>
        {% include 'news/news.html' %}
        {% include 'event/event.html' %}
        {% include 'notice/notice.html' %}
    </div>
{% endblock %}

