
# Email server settings
EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = "587"

EMAIL_USERNAME = ""
EMAIL_PASSWORD = ""

SERVER = "http://localhost:8000"

EMAIL_FROM = ""

# Registration
ALLOWED_DOMAINS = [
    'iitb.ac.in',
]


# DB Setting
IS_TEST = True

# database settings
DB_ENGINE = 'django.db.backends.postgresql_psycopg2'
DB_NAME = 'iitbapp'
DB_USER = 'iitbapp'
DB_PASSWORD = 'iitbapp'
DB_HOST = '127.0.0.1'
DB_PORT = '5432'

GCM_KEY = "<YOUR GCM API KEY>"

MEDIA_URL = "/media/"

STATIC_URL = "/static/"

SESSION_COOKIE_PATH = "/"